<div class="index-body">
    <div class="col-md-8">
        <div class="index-content">

            <div class="card col-6">
                <div class="card-header border-primary">
                    <h3 class="card-title"><%= @blog.title%></h4>
                    <p class="blog-created-at">記事投稿日：<%= I18n.l(@blog.created_at, format: :short) %></p>
                     <h6 class="card-subtitle md-2 text-muted"><%= link_to  @blog.user.name , @blog.user,  class: "name-link" %></h6>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= simple_format(@blog.content)%>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item　active"><%= link_to "戻る", blogs_path, class: "nav-link float-left" %></li>
                            <% if logged_in? && current_user?(@blog.user)%>
                              <li class="nav-item"><%= link_to "編集", edit_blog_path(@blog.id), class: "nav-link" %></li>
                            <% end %>
                        </ul>
                        <% if logged_in? && current_user?(@blog.user)%>
                            <ul class="nav navbar-nav  navbar-right">
                                <li class="nav-item"><%= link_to "記事削除", blog_path, method: :delete, data: {confirm: "この記事を削除しますか？"}, class: "nav-link" %></li>
                            </ul>
                        <% end %>
                    </div>
                </nav>
            </div>
       </div>
    </div>

    <div class="col-md-8">
        <h2>コメント(<%= @blog.comments.count %>)</h2>
        <% if logged_in? %>
            <%= form_for(:comment, url: comments_path) do |f| %>
                <div class="col-md-6 input-group comment-area">
                    <%= f.text_area :content, placeholder: "コメント", class: "form-control" %>
                    <%= f.hidden_field :blog_id, value: @blog.id %>
                    <%= f.hidden_field :user_id, value: @blog.user.id %>
                    <%= f.submit "投稿", class: "btn btn-default"%>  
                </div> 
            <% end %>
        <% end %>

        <% @comments.each do |comment| %>
            <div class="card col-6">
                <div class="card-body">
                    <p class="card-text">
                        <h4 class="card-subtitle md-2 text-muted"><%= link_to comment.user.name, comment.user, class: "name-link" %></h4>
                        >><%= simple_format(comment.content)%>
                        コメント日：<%= I18n.l(comment.updated_at, format: :short) %>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto hidden_box">
                    <% if logged_in? && current_user?(comment.user) %>
                        <label for="label<%= comment.id %>">コメント編集</label>
                        <input type="checkbox" id="label<%= comment.id %>"/>
                    <% end %>
                        <li class="nav-item section hidden_show">
                            <%= form_for(comment) do |f| %>
                                <div class="col-md-3 input-group">
                                    <%= f.text_area :content, placeholder: "コメント", class: "form-control" %>
                                    <%= f.hidden_field :blog_id, value: comment.blog.id %>
                                    <%= f.hidden_field :user_id, value: comment.user.id %>
                                    <%= f.submit "更新", class: "btn btn-default"%>
                                            
                                </div> 
                            <% end %>
                        </li>
                    </ul>
                    <% if logged_in? && current_user?(comment.blog.user) || current_user?(comment.user) %>
                        <ul class="nav navbar-nav  navbar-right">
                            <li class="nav-item　active">
                                <li class="nav-item"><%= link_to "コメント削除", comment_path, method: :delete, data: {confirm: "このコメントを削除しますか？"}, class: "nav-link" %></li>
                            </li>
                        </ul>
                    <% end %>
                    </div>
                </nav>
            </div>
        <% end %>
    </div>
</div>
