<div class="index-body">
    <div class="col-md-8 col-md-offset-2">
        <div class="index-content">

            <div class="card col-6 col-md-offset-2">
                <div class="card-header border-primary">
                    <h3 class="card-title"><%= @blog.title%></h4>
                    <h4 class="card-subtitle md-2 text-muted"><%= @blog.user.name %></h6>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= simple_format(@blog.content)%>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item　active"><%= link_to "戻る", blogs_path, class: "nav-link float-left" %></li>
                            <li class="nav-item"><%= link_to "編集", edit_blog_path(@blog.id), class: "nav-link" %></li>
                        </ul>
                        <ul class="nav navbar-nav  navbar-right">
                            <li class="nav-item"><%= link_to "記事削除", blog_path, method: :delete, data: {confirm: "この記事を削除しますか？"}, class: "nav-link" %></li>
                        </ul>
                    </div>
                </nav>
            </div>
       </div>
    </div>
</div>
