<div class="index-body">
    <div class="col-md-8 col-md-offset-2">
        <div class="index-content">

            <div class="card col-6 col-md-offset-2">
                <div class="card-header border-primary">
                    <h3 class="card-title"><%= @blog.title%></h4>
                    <h4 class="card-subtitle md-2 text-muted"><%= @blog.user.name %></h6>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= simple_format(@blog.content)%>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item　active"><%= link_to "戻る", blogs_path, class: "nav-link float-left" %></li>
                            <% if logged_in? && current_user?(@blog.user)%>
                              <li class="nav-item"><%= link_to "編集", edit_blog_path(@blog.id), class: "nav-link" %></li>
                            <% end %>
                        </ul>
                        <% if logged_in? && current_user?(@blog.user)%>
                            <ul class="nav navbar-nav  navbar-right">
                                <li class="nav-item"><%= link_to "記事削除", blog_path, method: :delete, data: {confirm: "この記事を削除しますか？"}, class: "nav-link" %></li>
                            </ul>
                        <% end %>
                    </div>
                </nav>
            </div>
       </div>
    </div>

    <div class="col-md-6 col-md-offset-4">
    <h2>コメント</h2>
    <% if logged_in? %>
        <%= form_for(:comment, url: comments_path) do |f| %>
            <div class="col-md-3 input-group">
                <%= f.text_area :content, placeholder: "コメント", class: "form-control" %>
                <%= f.hidden_field :blog_id, value: @blog.id %>
                <%= f.hidden_field :user_id, value: @blog.user.id %>
                <%= f.submit "投稿", class: "btn btn-default"%>  
            </div> 
        <% end %>
    <% end %>

    <% @comments.each do |comment| %>
            <div class="card col-4">
                <div class="card-body">
                    <p class="card-text">
                        <h4 class="card-subtitle md-2 text-muted"><%= comment.user.name %></h4>
                        <%= simple_format(comment.content)%>
                        コメント日：<%= comment.updated_at %>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item　active"></li>
                    </ul>
                        <ul class="nav navbar-nav  navbar-right">
                            <li class="nav-item　active">
                                <%= link_to  "コメント編集", '#', class: "nav-link"  %>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <% end %>
    </div>
</div>
