<div class="index-body">
    <div class="col-md-8">
        <div class="index-content">

            <div class="card col-6">
                <div class="card-header border-primary">
                    <h2 class="card-title"><%= @user.name %></h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= @user.email %>
                    </p>
                </div>
                <nav class="navbar card-footer">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item　active"><%= link_to "戻る", blogs_path, class: "nav-link float-left" %></li>
                            <% if logged_in? && current_user?(@user)%>
                                <li class="nav-item"><%= link_to "設定", edit_user_path(current_user), class: "nav-link" %></li>
                            <% end %>
                        </ul>
                    </div>
                </nav>
            </div>
       </div>
    </div>
    <%= render 'shared/index' %>
</div>